/**************************************************************/

/* Max-width: 1088px*/

/**************************************************************/

@media (max-width: 68em) {
  .home-page {
    width: 40%;
  }
}

/**************************************************************/

/* Max-width: 816px*/

/**************************************************************/

@media (max-width: 51em) {
  .home-page {
    width: 60%;
  }
}

/**************************************************************/

/* Max-width: 560px*/

/**************************************************************/

@media (max-width: 35em) {
  .home-page {
    width: 90%;
  }
}
